.container{
	width: 100%;
	/* height: 2000px; */
	/* background: pink; */
	max-width: 770px;
	min-width: 500px;
	margin: 0 auto;
}
.tou{
	margin-bottom: 10px;
	width: 100%;
	height: 600px;
	position: relative;
	background: slateblue;
}
.yi{
	color: #fff;
	font-size: 30px;
	width: 180px;
	height: 50px;
	display: inline-block;
	background: green;
	line-height: 50px;
	text-align: center;
}
.er{
	display: inline-block;
	color: #fff;
	font-size: 30px;
	width: 180px;
	height: 50px;
	background: cadetblue;
	line-height: 50px;
	text-align: center;
}
.nav{
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	display: flex;
    background:rgba(250,250,250,0.2);
}
.nav_l{
	flex: 1;
	/* background: red; */
	text-align: center;
	line-height: 80px;
}
.nav_l img{
	width: 100px;
}
.nav_r{
	flex: 9;
	
}
.nav_r ul{
	display: flex;
	line-height: 80px;
	box-sizing: border-box;
}
.nav_r li{
	font-size: 1vw;
	color: #fff;
	margin-left: 10px;
}
.fen{
	display: flex;
}
.fen_l{
	width: 100%;
}
.fen_l ul{
	margin: 15px 0;
}
.fen_l li{
	font-size: 1.5vw;
}
.fen_l p{
	width: 60%;
	background: #008000;
	font-size: 20px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.liji{
	margin: 20px 0 20px 10px;
	font-size: 2vw;
}
.banben{
	display: flex;
	justify-content: space-around;
}
.diannao li:nth-child(1){
	font-size: 1.8vw;
}
.diannao li:nth-child(2){
	font-size: 1vw;
	margin-top: 10px;
}
.diannao button{
	width: 40%;
}
.diannao span{
	font-size: 15px;
	margin-left: 20px;
}
.bottom ul{
	display: flex;
	height: 30px;
	background: #ccc;
	margin-top: 20px;
}
.bottom li{
	line-height: 30px;
	text-align: center;
	padding-left: 5%;
}
.lianxi{
	margin-top: 30px;
}
.lianxi ul{
	display: flex;
	padding-left: 30%;
}